<wm-page data-ng-controller="MainPageController" name="mainpage">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
            <wm-buttongroup name="buttongroup1">
                <wm-button name="button1" class="btn-default" caption="left"></wm-button>
                <wm-button name="button2" class="btn-default" caption="center"></wm-button>
                <wm-button name="button3" class="btn-default" caption="right"></wm-button>
            </wm-buttongroup>
            <wm-composite name="composite1">
                <wm-label name="label1" class="col-md-3"></wm-label>
                <wm-container name="container1" class="col-md-9">
                    <wm-text name="text1"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite2">
                <wm-label name="label2" class="col-md-3"></wm-label>
                <wm-container name="container2" class="col-md-9">
                    <wm-text name="text2"></wm-text>
                </wm-container>
            </wm-composite>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>